<h1 #mainHeading>home component</h1>

<p>to do</p>

<p>ng-container</p>
<ng-container *ngif='angualarConcepts.length > 0 else noElements'>
    <li *ngFor="let concept of angualarConcepts; let i = index">
        {{i}} - {{ concept }}
    </li>
</ng-container>

<p>ng-template</p>
<ng-template #noElements>
    <p>There is no elements in the array</p>
</ng-template>

<ul>
    <li *ngFor="let concept of angualarConcepts; let i = index">
        {{i}} - {{ concept }}
    </li>
</ul>

<div *ngIf="angualarConcepts.length % 2 == 0">
    <p>WE have a todo</p>
</div>

<div [ngSwitch]="angualarConcepts.length">
    
    <p *ngSwitchCase="0">
        <ng-container *ngTemplateOutlet='noElements'></ng-container>
    </p>
    <p *ngSwitchCase="1">one more</p>
    <p *ngSwitchDefault>todo lots</p>
</div>